.votemiddle{
    text-align:center;
    position: relative;
    margin-left: 45%;
    margin-right: 45%;
    padding: 0;
    position: relative
}

 #voteup {
 
    margin-left: 35%;
      
   
    
  }
  
  #votesdisplay{
   
    text-align: center;
    border-radius: 15px;
    margin-top: 1%;
    font-size: 25px;
    margin-bottom: 0%;
    background-color: transparent;
    border: 2px solid whitesmoke;
    padding: 2%;

  }



.vote{
  appearance: none;
  background-color: transparent;
  border: 2px solid lightcoral;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  margin-left: 20%;
  margin-right: 10%;
   font-size: 14px;
  font-weight: 600;
  line-height: normal;
  min-height: 20px;
  min-width: 60px;
  outline: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

 /* #votedown {

  margin-left: 60%; 
  
 
} */

.vote:disabled {
  pointer-events: none;
}

.vote:hover {
  color: lightcoral;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.vote:active {
  box-shadow: none;
  transform: translateY(0);
}
